.features {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.table-head {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-button {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.select-entries {
    width: 100px;
}

.entries-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}